@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background-color: hsl(0, 0%, 98%);
}

.header {
    height: 100px;
    margin-left: 40px;
}

.logo {
    float: left;
    margin-right: 50px;
    margin-top: 30px;

}

ul {
    color: hsl(0, 0%, 41%);
    cursor: pointer;
}

ul li img {
    padding-left: 7px;
}

.h-left li {
    list-style: none;
    float: left;
    padding: 30px 20px;
}

.h-right li {
    list-style: none;
    float: right;
}

.border {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px;
}  

.log {
    padding: 30px 20px;
}

.flex-container {
    display: flex;
    margin-left: 200px;
}

h1 {
    font-weight: 700;
    font-size: 100px;
}

p {
    font-size: 18px;
    padding-bottom: 40px;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;  
    cursor: pointer;
}

.flex-img {
    height: 600px;
    width: 500px;
    margin-left: 150px;
}